In [9]:
ecomdata = pd.read_csv("ecommerce.csv")

In [12]:
# How many rows and columns are there?

ecomdata.shape

(10000, 14)

In [13]:
# What is the average Purchase Price?

In [20]:
avg_purchase_price = ecomdata['Purchase Price'].mean()

In [21]:
avg_purchase_price

50.34730200000025

In [22]:
#What were the highest and lowest purchase prices?

In [23]:
highestprice = ecomdata['Purchase Price'].max()

In [24]:
highestprice

99.99

In [ ]:
## lowest_price = ecomdata['Purchase Price'].min()

In [26]:
lowest_price

0.0

In [51]:
# How many people have English 'en' as their Language of choice on the website?

In [53]:
language_groups = ecomdata[ecomdata['Language'] == 'en'].groupby('Language')
language_groups.count()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Purchase Price
Language,,,,,,,,,,,,,
en,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098

In [59]:
#How many people have the job title of "Lawyer" ?

language_groups = ecomdata[ecomdata['Job'] == 'Lawyer'].groupby('Job')
language_groups.count()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,IP Address,Language,Purchase Price
Job,,,,,,,,,,,,,
Lawyer,30,30,30,30,30,30,30,30,30,30,30,30,30

In [61]:
#How many people made the purchase during the AM and how many people made the purchase during PM ?

ecomdata['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [64]:
#What are the 5 most common Job Titles?

ecomdata["Job"].value_counts()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Research officer, political party    27
                                     ..
Music therapist                       7
Editor, film/video                    6
Actuary                               6
Investment analyst                    5
Information systems manager           5
Name: Job, Length: 623, dtype: int64

In [73]:
#What is the email of the person with the following Credit Card Number: 4926535242672853

ecomdata[ecomdata['Credit Card'] == 4926535242672853][["Email"]]

                             Email
1234  bondellen@williams-garza.com

In [76]:
'''
How many people have American Express as their Credit Card Provider and made a purchase above $95 ?
'''

ecomdata[(ecomdata["CC Provider"]=="American Express")&(ecomdata["Purchase Price"]>95)].count()["Job"]

39

In [90]:
''' 
Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)
'''

def add_s(incoming):
    if len(incoming)>0:
        return incoming + 's'
    else:
        return incoming

In [94]:
#use apply function:
#apply take sa function and a vlaue and uses that function to transform the value
#add s to language colum

def get_provider (incoming):
    return incoming.split('@')[1]

In [97]:
ecomdata['Provider'] = ecomdata['Email'].apply(get_provider)

In [98]:
ecomdata.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Languages,Provider
0,"16629 Pace Camp Apt. 448\r\nAlexisborough, NE ...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,els,yahoo.com
1,"9374 Jasmine Spurs Suite 508\r\nSouth John, TN...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,frs,reed.com
2,Unit 0065 Box 5052\r\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,des,morales-harrison.com
3,"7780 Julia Fords\r\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,ess,olson-robinson.info
4,"23012 Munoz Drive Suite 337\r\nNew Cynthia, TX...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,ess,gmail.com

In [99]:
ecomdata['Provider'].value_counts()

hotmail.com           1638
yahoo.com             1616
gmail.com             1605
smith.com               42
williams.com            37
                      ...
lawson-nguyen.com        1
peters-salazar.com       1
house.com                1
rodgers-colon.com        1
holt.net                 1
Name: Provider, Length: 3416, dtype: int64