In [2]:
#create a pandas dataframe that has 
# list of cars - models, year, color
#Toyota 2017 blue
#Toyota 2015 black
#bmw 2015 white
#hyundai 2017 blue
#bmw 2019 blue

In [3]:
import pandas as pd

In [5]:
cardata= pd.read_csv("cars.csv")

In [6]:
cardata.shape

(5, 3)

In [12]:
#other way 
cars = [['toyota',2017,'blue'],['toyota',2015,"black"], ["bmw",2015,"white"]]
data=pd.DataFrame(cars, columns = ["model","year","color"])

In [10]:
cardata

     model   year  color
0   toyota   2017   blue
1   toyota   2015  black
2      bmw   2015  white
3  hyundai   2017   blue
4      bmw   2019   blue

In [14]:
groups = cardata.groupby('model')

In [15]:
groups

In [17]:
# use aggregate functions only on group by objects
'''
i.e. sum, std, mean, min, max, count
'''

'\ni.e. sum, std, mean, min, max, count\n'

In [18]:
groups.count()

          year   color
model
bmw          2       2
hyundai      1       1
toyota       2       2

In [23]:
groups.count()['color']

KeyError: 'color'