In [2]:
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

         day   temperature  windspeed         event
0  04/21/2020           32         36         Sunny
1  04/21/2021           33         32         Sunny
2  04/21/2022           32         21         Sunny
3  04/21/2023           34         36  light shower
4  04/21/2024           34         21         Sunny
5  04/21/2025           36         33         Sunny
6  04/21/2026           35         66          rain
7  04/21/2027           37         70        shower
8  04/21/2028           36         78          snow

In [3]:
df.shape

(9, 4)

In [4]:
rows, columns = df.shape

In [5]:
rows

9

In [6]:
columms

NameError: name 'columms' is not defined

In [7]:
df.head ()

         day   temperature  windspeed         event
0  04/21/2020           32         36         Sunny
1  04/21/2021           33         32         Sunny
2  04/21/2022           32         21         Sunny
3  04/21/2023           34         36  light shower
4  04/21/2024           34         21         Sunny

In [8]:
df.tail()

         day   temperature  windspeed   event
4  04/21/2024           34         21   Sunny
5  04/21/2025           36         33   Sunny
6  04/21/2026           35         66    rain
7  04/21/2027           37         70  shower
8  04/21/2028           36         78    snow