In [7]:
import pandas as pd

In [9]:
ecomdata = pd.read_csv("ecommerce.csv")

In [12]:
# How many rows and columns are there?

ecomdata.shape

(10000, 14)

In [13]:
# What is the average Purchase Price?

In [20]:
avg_purchase_price = ecomdata['Purchase Price'].mean()

In [21]:
avg_purchase_price

50.34730200000025

In [22]:
#What were the highest and lowest purchase prices?

In [23]:
highestprice = ecomdata['Purchase Price'].max()

In [24]:
highestprice

99.99

In [ ]:
## lowest_price = ecomdata['Purchase Price'].min()

In [26]:
lowest_price

0.0

In [51]:
# How many people have English 'en' as their Language of choice on the website?

In [53]:
language_groups = ecomdata[ecomdata['Language'] == 'en'].groupby('Language')
language_groups.count()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Purchase Price
Language,,,,,,,,,,,,,
en,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098

In [59]:
#How many people have the job title of "Lawyer" ?

language_groups = ecomdata[ecomdata['Job'] == 'Lawyer'].groupby('Job')
language_groups.count()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,IP Address,Language,Purchase Price
Job,,,,,,,,,,,,,
Lawyer,30,30,30,30,30,30,30,30,30,30,30,30,30

In [61]:
#How many people made the purchase during the AM and how many people made the purchase during PM ?

ecomdata['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [64]:
#What are the 5 most common Job Titles?

ecomdata["Job"].value_counts()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Research officer, political party    27
                                     ..
Music therapist                       7
Editor, film/video                    6
Actuary                               6
Investment analyst                    5
Information systems manager           5
Name: Job, Length: 623, dtype: int64

In [73]:
#What is the email of the person with the following Credit Card Number: 4926535242672853

ecomdata[ecomdata['Credit Card'] == 4926535242672853][["Email"]]

                             Email
1234  bondellen@williams-garza.com

In [76]:
'''
How many people have American Express as their Credit Card Provider and made a purchase above $95 ?
'''

ecomdata[(ecomdata["CC Provider"]=="American Express")&(ecomdata["Purchase Price"]>95)].count()["Job"]

39

In [79]:
''' 
Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)
'''

def add_s(incoming):
    if len(incoming)>0:
        return incoming + 's'
    else:
        return incoming

In [82]:
#use apply function:
#apply take sa function and a vlaue and uses that function to transform the value
#add s to language colum

In [86]:
ecomdata['Languages'] = ecomdata.apply(add_s, ecomdata['Language'])

KeyError: "None of [Index(['el', 'fr', 'de', 'es', 'es', 'ru', 'de', 'pt', 'ru', 'zh',\n       ...\n       'ru', 'el', 'de', 'el', 'zh', 'it', 'pt', 'el', 'es', 'el'],\n      dtype='object', length=10000)] are in the [columns]"